.main-search{
    width:1440px;
    height:188px;
    position: relative;
}
.search-bar{
    position: absolute;
    top:54px;
    left:100px;
    width: 1030px;
    height:84px;
    border:1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:5px;
    padding-right: 15px;
}
.search-property{
    width: 191px;
    height: 32px;
    display: flex;
    align-items: center;
    gap:18px;
    font-size: 18px;
    font-weight: 500;
    color:#AFADB5;
}
.find-now{
    width: 138px;
    height:54px;
    background-color:#518581;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.filter{
    width: 86px;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:12px;
    font-weight: 500;
    font-size: 18px;
}
.father-filter{
    width: 190px;
    height:84px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:54px;
    left: 1162px;
}